__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
.project
.pydevproject
.cache/
.pytest_cache/
.coverage
.git
.mypy_cache
.hypothesis
staticfiles
media
db.sqlite3
.DS_Store
.dockerignore