{% extends "base.html" %}

{% block title %}
Авторизоваться
{% endblock title %}

{% block content %}
{% if messages %}
{% for message in messages %}
<p>Успешно {{ message }}</p>
{% endfor %}
{% endif %}

<h2>Авторизоваться</h2>
<p><a href="{% url "social:begin" "github" %}">Войдите в систему с помощью GitHub</a></p>
<p><a href="{% url "social:begin" "google-oauth2" %}">Войдите в систему с помощью Google</a></p>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-lg">Авторизоваться</button>
</form>
<p><a href="{% url "password_reset" %}">Сброс пароля</a></p>
{% endblock content %}