{% extends "base.html" %}

{% block title %}
Введите новый пароль
{% endblock title %}

{% block content %}
{% if validlink %}
<h1>Установите новый пароль!</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-lg">Измените мой пароль</button>
</form>
{% else %}
<p>
    Ссылка для сброса пароля оказалась недействительной, возможно, потому, что она уже использовалась. 
    Пожалуйста, запросите новый пароль.
</p>
{% endif %}
{% endblock content %}