{% extends "base.html" %}

{% block title %}
Страница профиля
{% endblock title %}


{% block content %}
    <div>
        <img src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div role="alert">
            <div>
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <div>
                    <div>
                        <label>Имя пользователя:</label>
                        {{ user_form.username }}
                        <hr>
                        <label>Электронная почта:</label>
                        {{ user_form.email }}
                    </div>
                    <hr>
                    <div><a href="{% url "password_change" %}">Сменить пароль</a>
                        <hr>
                        <label>Сменить аватар:</label>
                        {{ profile_form.avatar }}
                    </div>
                    <hr>
                    <label>Биография:</label> {{ profile_form.bio }}
                </div>
            </div>
            <br><br>
            <button type="submit">Сохранить изменения</button>
            <button type="reset">Сброс</button>
        </form>
    </div>
{% endblock content %}