{% extends "base.html" %}

{% block title %}
Регистрация
{% endblock title %}

{% block content %}
<h2>Регистрация</h2>
<form action="" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <p>Пожалуйста, исправьте ошибки ниже:</p>
            {{ form.errors }}
        </div>
    {% endif %}
    {% for field in form %}
    <p>{{ field.label }}: {{ field }}</p>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-lg">Зарегестрироваться</button>
</form>
<a href="{% url "login" %}">У вас есть учетная запись? Перейдите для входа</a>
{% endblock content %}