{% extends "base.html" %}

{% block content %}
<img class="image" src="{{ movie.photo.url }}" alt="">
{{ movie.description|linebreaks }}
{% if movie.trailer %}
<a href="{{ movie.trailer }}" target="_blank"><button type="button" class="btn btn-primary btn-lg">Смотреть трэйлер</button></a>
{% endif %}

<a href="{% url "movies:movie_share" movie.id %}"><button type="button" class="btn btn-primary btn-lg">Рекомендовать фильм</button></a>

{% with comments.count as total_comments %}
<h2>
    Всего комментариев {{ total_comments }}
</h2>
{% endwith %}

{% for comment in comments %}
<p>
    Комментарий {{ forloop.counter }}, написанный {{ comment.name }} {{ comment.created }}
</p>
{% empty %}
<p>Пока нет комментариев.</p>
{% endfor %}

{% include "includes/comment_form.html" %}
{% endblock content %}

