<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not page.has_previous %}disabled{% endif %}">
        <a class="page-link" href="{% if page.has_previous %}?page={{ page.previous_page_number }}{% else %}#{% endif %}">Предыдущая</a>
    </li>
    {% for p in page.paginator.page_range %}
    <li class="page-item {% if page.number == p %}active{% endif %}"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
    {% endfor %}
  
    <li class="page-item {% if not page.has_next %}disabled{% endif %}">    
        <a class="page-link" href="{% if page.has_next %}?page={{ page.next_page_number }}{% else %}#{% endif %}">Следующая</a>
    </li>    
    </li>
  </ul>
</nav>